/**********************/
/**		HEADER 		 **/
/**********************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f0ff;
  height: 9.6rem;
  padding: 0 4.8rem;
  border-top: 0.4rem solid #fd7e14;
}

.nemed-logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 3.8rem;
}

/**********************/
/**		NAVIGATION	 **/
/**********************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  position: relative;
  transition: all 0.5s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #5f3dc4;
  letter-spacing: 0.3rem;
  border-bottom: 3px solid #fd7e14;
  padding-bottom: 0.3rem;
}

.nav-cta:link,
.nav-cta:visited {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  position: relative;

  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #7048e8;
}
.nav-cta:hover,
.nav-cta:active {
  background-color: #5f3dc4;
}
/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**********************/
/**		HERO SECTION	 **/
/**********************/
.section-hero {
  background-color: #f3f0ff;
  padding: 0 0 12rem 0;
}
/* .carousel .carousel-inner {
  height: 500px;
}

.carousel-inner .carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
} */
/* .item1 {
  background-image: url(/img/carousel1.jpg);
} */
.heading-orange {
  color: #fd7e14;
}
.heading-violet {
  color: #5f3dc4;
}
.carousel-caption {
  position: absolute;
  top: 40%;
  z-index: 2;
}
/* .carousel-item{
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,59,138,0.28335084033613445) 35%, rgba(0,212,255,1) 100%);, url();

} */
.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
.carousel-heading {
  font-size: 6rem;
  line-height: 2;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 1s forwards;
}
.design-skew {
  display: inline-block;
  transition: transform 300ms;
  z-index: 2;
}
.design-skew:hover {
  color: #5f3dc4;
  transform: skew(10deg, 10deg);
  scale: 1.5;
}

/*** FOR WAVE SECTION ***/
.spacer {
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.layer1 {
  background-image: url("../img/waves2.svg");
}

/**************************/
/* 	DESCRIPTIVE SECTION   */
/************************/
.section-text {
  background-color: #fff4e6;
  height: 100vh;
}
.section-logo {
  text-align: center;
}
.section-logo .logo {
  height: 20rem;
  width: 20rem;
}
.section-head1 {
  padding: 10rem 0 10rem;
  text-align: center;
}

/* .section-text .heading-primary {
  animation: moveInLeft 1s ease-out;
}
.section-text .heading-secondary {
  animation: moveInRight 1s ease-out;
} */
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/**************************/
/* 			FOOTER 	 	*/
/************************/

.waver svg {
  position: relative;
  display: block;
  width: calc(100%);
  height: 22px;
}

.waver .shape-fill {
  fill: #fd7e14;
}
.footer {
  padding: 4.8rem 0;
}
.footer .logo {
  height: 2.2rem;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
/**************************/
/* 			ABOUT Page	 	*/
/************************/
.about {
  padding: 4.8rem;
}
.about h2 {
  animation: moveInLeft 1s ease-out;
}
.about-title {
  width: 100vw;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/about-title.jpg");
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}
.about-head {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  z-index: 2;
}
.about-head p {
  font-weight: 400;
  font-size: 2rem;
}

.about .heading-secondary {
  color: #ff922b;
}
.about-descriptions {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.about-title .heading-secondary {
  margin-bottom: 0.1rem;
  color: #ff922b;
}
/**************************/
/* MVP section*/
/**************************/
.mvp-section {
  padding: 6rem 0 12rem 0;
  margin: 4rem;
}
.center {
  text-align: center;
}
.b-orange {
  border-bottom: 1px solid #ff922b;
}
.description {
  /* font-weight: 500; */
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 8rem;
  padding: 3rem 20rem;
}
.mission h3,
.passion h3 {
  font-size: 6rem;
  color: #5f3dc4;
}
.vission h3 {
  color: #ff922b;
  font-size: 6rem;
}

/**************************/
/* PRODUCT page*/
/**************************/
.production {
  /* margin-top: 10rem; */
  background-color: #f3f0ff;
  /* margin-bottom: 10rem; */
  padding-bottom: 10rem;
}
.production-heading {
  display: flex;
  justify-content: center;
  /* margin-top: 6.3rem; */
  padding-top: 8rem;
}
.production h2 {
  color: #ff922b;
}
.typewriter {
  position: relative;
}
.typewriter:before,
.typewriter:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.typewriter::before {
  background-color: #f3f0ff;
  animation: typewriter 2s steps(12) 1s forwards;
}
.typewriter::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(12) 1s forwards, blink 750ms steps(12) infinite;
}

.gallery-item {
  overflow: hidden;
  position: relative;
}
.gallery-item .caption h2 {
  font-size: 4.5rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff922b;
  padding: 5px;
  transition: all 0.4s;
  background-color: white;
  border: 1px solid #555;
  transform: translateY(-100%);
}
.caption h2 {
  text-transform: uppercase;
  margin-top: 5rem;
}
.caption p {
  font-size: 15px;
  text-transform: capitalize;
}
.gallery-item:hover .caption {
  transform: translateY(0);
}
.gallery-item:hover img {
  transform: translateY(100%);
}

/**************************/
/* 	CONTACT page 	 	*/
/************************/
.contactpage {
  width: 100vw;
  height: 100%;
  background-color: #fff4e6;
  padding-bottom: 12rem;
}
.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.6rem;
  font-weight: 500;
  /* align-items: space-between; */
  margin-top: 4.5rem;
}
.icons {
  height: 4.5rem;
  width: 4.5rem;
  color: #555;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  margin-top: 4.5rem;
}
.cta-form input,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.contact-heading {
  display: grid;
  place-content: center;
}
.contact-heading h2 {
  display: inline-block;
  align-items: center;
  padding: 9rem 10rem 2rem;
  background-color: #fff4e6;
  /* #fff4e6; */
  color: #ff922b;
  border-bottom: 1px solid #ff922b;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/**************************/
/* 4SURE page*/
/**************************/
.Foursure-section {
  padding: 6rem 0 12rem 0;
}

.sub-heading {
  display: block;
  font-size: 2.5rem;
  font-weight: 500;
  color: #ff922b;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  letter-spacing: 0.75px;
}
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Foursure-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 9.6rem;
}
.title {
  display: block;
  color: #ff922b;
  font-size: 6.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.title span {
  margin-right: 0.5rem;
  padding: 0.4rem 1.5rem;
  background-color: #5f3dc4;
  color: #fff;
}

.title-description {
  width: 29%;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #2c3333;
}
.product-img {
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.wrapper-section {
  display: flex;
  gap: 2rem;
}
.wrapper-section h3 {
  width: 16.4rem;
  background-color: #5f3dc4;
  color: #fff;
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}
.wrap-description {
  font-size: 1.8rem;
  color: #fd7e14;
  line-height: 1.5;
  padding: 0 7rem;
  /* margin-bottom: 1rem; */
}
.Foresure-cure {
  margin-left: 20rem;
}
.Foresure-cure .cures {
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.checkmark-icon {
  height: 3.4rem;
  width: 3.4rem;
  color: #ff922b;
}

/**************************/
/* Nedpro-K page*/
/**************************/
.title.netpro-k {
  display: block;
  color: #5f3dc4;
  text-transform: uppercase;
  font-size: 6.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.title.netpro-k span {
  background-color: #ff922b;
  color: #fff;
  padding: 0.4rem 1.5rem;
  margin-left: 0.5rem;
}
.title-description.netprok {
  width: 54%;
}
.wrapper-section .nedpro-k h3 {
  width: 40rem;
  background-color: #5f3dc4;
  color: #fff;
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}
/**************************/
/* Proppi page*/
/**************************/
.title.proppi span {
  color: #5f3dc4;
  background: none;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
